asgiref
astroid
atomicwrites
beautifulsoup4
bsdiff4
concurrent-log-handler
dill
django
django-braces
django-classy-tags
django-environ
django-newsletter
django-sitetree
factory-boy
feedparser
feedreader
future
iniconfig
isort
lazy-object-proxy
ldif3
lxml
mccabe
more-itertools
platformdirs
pluggy
portalocker
protobuf
pylint
pyrfc3339
pytest
pytest-runner
python-card-me
requests-mock
sgmllib3k
sorl-thumbnail
sorl-watermark
soupsieve
sqlparse
surlex
text-unidecode
tomlkit
ua-parser
unicodecsv
user-agents
wcwidth
wrapt
django-tinymce
ua-parser
user-agents
django-user-agents
django_ses
django-cookie-law
django-admin
redis
