{% extends "base.html" %}
{% load static %}

{% block body_static %}
               
    <div>
        Il “Viale della formica” è un'associazione fondata nel 1998 da un gruppo di amici che volevano impegnarsi per ravvivare la realtà sociale nella comunità di Castionetto.<br/> Molteplici sono le attività che svolge, ma l’interesse è per lo più indirizzato al recupero della memoria storica rurale.<br/> Anche il nome dell’associazione rispecchia questo tentativo di salvaguardia del passato e del luogo in cui viviamo: “Viale della formica” si riferisce infatti ad un vecchio sentiero che si trova sul monte Dalico, mentre il logo prende spunto dalla stele, risalente alla media età del bronzo, ritrovata alle pendici del monte, tra i muretti dei terrazzamenti.<br/>
        <img alt="Immagine logo originael" src="{% static 'images/ImmagineLogo.jpg' %}" width="191" height="133" />        <br/>Ecco in sintesi quali sono le nostre attività.<br/>

Ci siamo resi conto che, se non si fosse fatto qualcosa, nel giro di poco tempo si sarebbe smarrito un patrimonio di conoscenza e di tecniche inestimabile. Per questo motivo, negli anni, abbiamo raccolto le testimonianze e le memorie dei nostri anziani. <br/>
Da questi incontri ha preso forma l’idea di tracciare su mappa gli antichi sentieri e le strade che percorrevano il monte Dalico e la Val Fontana.<br/> 
Nell’ambito della tutela del territorio, da diversi anni ci occupiamo di programmare lo sfalcio dei prati sul monte Dalico per contrastare l’imboschimento e svolgere un’importante azione di controllo, presidio e tutela del territorio.<br/> Questa iniziativa si è rivelata anche un’ottima occasione per ricucire quel tessuto sociale di condivisione e vicendevole aiuto che ha sempre caratterizzato la nostra gente.<br/>
Consapevoli che il rispetto e la cura del territorio sono valori che in primo luogo vanno trasmessi alle giovani generazioni, abbiamo affrontato con le scuole primarie di Castionetto un lungo percorso di collaborazione, cercando di suscitare nei ragazzi interesse e curiosità verso questi temi.<br/> 
Almeno una volta all’anno rimettiamo in funzione uno dei vecchi forni privati del paese che, sebbene dimenticato e non più operante da diversi anni, un tempo era fulcro della contrada.<br/>
Oltre a queste attività, ci occupiamo di creare occasioni culturali e di svago in paese, invitando compagnie teatrali popolari o più impegnate, organizzando proiezioni ed approfondimenti a tema.<br/> 
Da diversi anni organizziamo le giornate di apertura della torre di Castionetto (detta anche di Roncisvalle).<br/>
Ormai consolidata è anche la collaborazione con la Biblioteca “Luigi Faccinelli” di Chiuro e con numerose altre associazioni.<br/> 

Il lavoro non manca, le idee neppure…. e anche le difficoltà.<br/> Tuttavia, finché l’entusiasmo e le possibilità ce lo consentiranno, continueremo con le nostre attività, cercando di suscitare interesse e valorizzare il nostro territorio, il cui valore spesso non è adeguatamente percepito.<br/> 
        <p>
            L'indirizzo di email è ilvialedellaformica@gmail.com a cui potete fare riferimento per informazioni,
            critiche o proposte.</p>
    </div>
    <br />
    <br />

{% endblock %}