{% extends "base.html" %}
{% load static %}
{% load date_filter %}

{% block body %}
 <div id="three-column-container">
            <div id="three-column-left">
            
<font size="4" color="red">Ricordati di iscriverti alla nostra newsletter, se vuoi essere aggiornato sulle nostre attività! E' semplice e gratuito. Basta inserire i dati qui a fianco!!!   </font>
<br />
bbbbbbbbbbb
{% if feed %}

{% if feed.entries %}
<div id="ctl00_ContentPlaceHolder1_Div1">
{% for entry in feed.entries %}
    {% if post_id is None or post_id.strip == '' or post_id == entry.id %}
    <div class="post uncustomized-post-template" >
         <h3 class="post-title"><a href="{{ request.build_absolute_uri }}?post_id={{ entry.id }}">{{ entry.title }}</a>  
            <div class="bookmarks"><a title="Condividi su facebook" class="facebook" href="http://www.facebook.com/sharer/sharer.php?url=&amp;u={{ base_url|default_if_none:entry.link }}?post_id={{ entry.id }}&amp;s=100&amp;p[url]={{ base_url|default_if_none:entry.link }}?post_id={{ entry.id }}&amp;p[title]={{ entry.title }}&amp;p[summary]={{ entry.content.0.value }}"></a>
             </div>
        </h3>
    </div>
    <div class="post-header-line-1"></div><div class="post-body">
        {{ entry.content.0.value|safe }}</div>
    <div class="post-footer">
        <span class="post-timestamp">Modificato <small>{{ entry.published|parse_date:"%Y-%m-%dT%H:%M:%S.%f%z"|date:"l j F Y" }}</small></span>
        <span class="post-comment-link">
            <a class="comment-link" href="{{ entry.link }}">Aggiungi commento</a><br/>
        </span>
    </div>
    <div>
        <hr align="center" width="80%">
    </div>
{% endif %}


{% endfor %}
    </div>
{% endif %}


{% endif %}



            </div>
            <div id="three-column-right">
<div class="newsletterBox"><h1>Newsletter</h1>
        Vuoi essere informato sulle attività dell'associazione?<br />
<form class="form-inline">

    <div >
        <label for="txtIndirizzoEmail" >Inserisci il tuo indirizzo di email</label>
        <input type="text" class="form-control" placeholder="indirizzo email" name="txtIndirizzoEmail"/>

    </div>
    <div >
        <label for="txtNome" >Inserisci un identificativo (facoltativo)</label>
        <input type="text" class="form-control" placeholder="Nome Cognome" name="txtNome"/>
    </div>
    <div>
        <br />
        ti invieremo, gratuitamente, una email ogni volta che ci sono novità sul sito.
    </div>
    <div>
        <input type="checkbox" style="float:left" name="chkConsensoPrivacy"/><label for="chkConsensoPrivacy"> Do il consenso per il trattamento dei miei dati </label>
        
    </div>
    <div>
        I dati personali da lei forniti, verranno utilizzati nei limiti e per il perseguimento delle finalità relative al presente modulo, nel rispetto dei principi stabiliti dal Codice della Privacy (D.Lgs. 196/2003) e per esercitare i diritti a lei riconosciuti dall’articolo 7 del Codice della privacy suddetto, potrà rivolgersi al Titolare del trattamento scrivendo a ilvialedellaformica@gmail.com
        </div>
    <button type="submit" class="btn btn-primary" name="Iscrivimi" value="Iscrivimi" >Iscrivimi</button>

</form>

        <asp:CustomValidator ID="CustomValidator1" runat="server" 
            ErrorMessage="Devi acconsentire al trattamento dei tuoi dati" 
            onservervalidate="CustomValidator1_ServerValidate"></asp:CustomValidator>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txtIndirizzoEmail"
            ErrorMessage="Inserisci il tuo indirizzo di email"></asp:RequiredFieldValidator>
        <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" 
            ControlToValidate="txtIndirizzoEmail" 
            ErrorMessage="L'indirizzo email non è corretto." 
            ValidationExpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"></asp:RegularExpressionValidator>
    </div>
    <span>Cronologia</span>
    <asp:TreeView ID="TreeView1" runat="server" DataSourceID="XmlDataSource1" ImageSet="Arrows"
        AutoGenerateDataBindings="False" LineImagesFolder="~/TreeLineImages" ShowLines="True"
        Width="361px" EnableTheming="False" EnableViewState="False">
        <DataBindings>
            <asp:TreeNodeBinding DataMember="year" TextField="name" />
            <asp:TreeNodeBinding DataMember="month" TextField="name" />
            <asp:TreeNodeBinding DataMember="day" TextField="name" />
            <asp:TreeNodeBinding DataMember="a" NavigateUrlField="href" TextField="#InnerText" />
        </DataBindings>
        <ParentNodeStyle Font-Bold="False" />
        <HoverNodeStyle Font-Underline="True" ForeColor="#5555DD" />
        <SelectedNodeStyle Font-Underline="True" HorizontalPadding="0px" VerticalPadding="0px"
            ForeColor="#5555DD" />
        <NodeStyle Font-Names="Tahoma" Font-Size="10pt" ForeColor="Black" HorizontalPadding="5px"
            NodeSpacing="0px" VerticalPadding="0px" />
    </asp:TreeView>
                    <div id="QRCode">Scannerizza per avere l'indirizzo del sito<img src="{% static "images/QRViale.png" %}" />
                    </div>
                   
            </div>                
        </div>
{% endblock %}