{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load date_filter %}

{% load context_base_url_template %}
{% block head %}
{% if feed %}
    {% if feed.entries %}
        {% if post_id is None or post_id.strip == '' %}
            <meta property="og:title" id="OgTitle" content="Il viale della Formica - associazione promozione sociale" />
            <meta property="og:description" id="OgDescription"
            content="Sito dell'associazione di promozione sociale Il viale della Formica, promozione culturale Castionetto di Chiuro" />
            <meta property="og:image" content="https://vialeformica.org{% static 'images/LogoViale2019Small.png' %}" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
        {% else %}  
    
            {% for entry in feed.entries %} 
                {% if post_id == entry.id %}
                    <!-- prova {{ base_url }}-->
                    <meta property="og:title" id="OgTitle" content="{{ entry.title }}" />
                    <meta property="og:description" id="OgDescription" content="Il viale della Formica - associazione promozione sociale" />
                    <meta property="og:url" id="OgUrl" content="{{ entry.link }}" /> 
                    {% comment %} {% for thumb_image in entry.media_thumbnail %}  
                        {{ django.utils.html(entry.content.0.value) }} 
                        {% if not 'Logo' in thumb_image.url %}   {% endcomment %}   
                            <meta property="og:image" id="OgImage" content="{{ imgUrl }}" />
                            <meta property="og:image:alt" content="immagine articolo" />
                       {% comment %}  {% endif %}
                    {% endfor %} {% endcomment %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endif %}


<script src="{% static 'js/rss_tree.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/TreeView.css' %}">
<style>
        div.newsletterBox {
        border-style: dashed;
        border-width: thin;
        padding: 10px;
        font-size: 0.7em;
    }


    /* .NewsletterLogo {
        height: 50px;
        width: 250px;        
        background-position: center;
        background-size: cover;
        background-repeat:no-repeat;
        background: url({% static "images/newsletter.png" %}) ;
    }     */

    div.TreeView {
        margin-top: 10px;
        font-size: 1em;
        padding: 10px;
    }

    .TreeView h1 {
        font-size: 1.3em;
        padding: 10px 0 6px 0;
    }

    div.QRCode {
        margin-top: 10px;
        font-size: .8em;
    }

    div.post-title {
        font-size: 1.5em;
    }
    .bookmarks {
    display: contents;
}
    .facebook, .twitter {
    width: 16px;
    height: 16px;
    text-indent: -500px;
    overflow: hidden;
    display: inline-block;
    background-image: url({% static 'css/images/social.png' %});
    background-attachment: scroll;  
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
}
hr {
    width: 80%; text-align: right; margin-right: 0;
}


</style>
{% endblock %}
{% block body %}
<div id="BlogContent">
    <div style="font-size: 1em; color: red;">Ricordati di iscriverti alla nostra newsletter, se vuoi essere aggiornato
        sulle nostre
        attività! E' semplice e gratuito. Basta inserire i dati <a href=""
            onclick="document.getElementById('IndirizzoNewsletter').focus()">qui</a>!!! </div>
    <br />
    {% if feed %}
        {% if feed.entries %}
            <div id="ctl00_ContentPlaceHolder1_Div1">
            {% if post_id is None or post_id.strip == '' %}
                {% for entry in feed.entries|slice:":5" %}
                    <div class="post uncustomized-post-template">
                        <div class="post-title">
                            <a href="{{ request.build_absolute_uri }}?post_id={{ entry.id }}">{{ entry.title }}</a>
                            <div class="bookmarks">
                                <a title="Condividi su facebook" class="facebook"
                                    href="http://www.facebook.com/sharer/sharer.php?u={{ base_url|default_if_none:entry.link }}?post_id={{ entry.id }}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="post-header-line-1"></div>
                    <div class="post-body">
                        {{ entry.content.0.value|safe }}
                    </div>
                    <div class="post-footer">
                        <span class="post-timestamp">Modificato
                            <small>{{ entry.published|parse_date:"%Y-%m-%dT%H:%M:%S.%f%z"|date:"l j F Y" }}</small></span>
                        <span class="post-comment-link">
                            <a class="comment-link" href="{{ entry.link }}">Aggiungi commento</a><br />
                        </span>
                    </div>
                    <div>
                        <hr >
                    </div>
                {% endfor %}
            {% else %}
                {% for entry in feed.entries %}
                    {% if post_id == entry.id %}
                        <div class="post uncustomized-post-template">
                            <div class="post-title"><a
                                    href="{{ request.build_absolute_uri }}?post_id={{ entry.id }}">{{ entry.title }}</a>
                                <div class="bookmarks"><a title="Condividi su facebook" class="facebook"
                                        href="http://www.facebook.com/sharer/sharer.php?u={{ base_url|default_if_none:entry.link }}?post_id={{ entry.id }}"></a>
                                </div>
                            </div>
                        </div>  
                        <div class="post-header-line-1"></div>
                        <div class="post-body">
                            {{ entry.content.0.value|safe }}</div>
                        <div class="post-footer">
                            <span class="post-timestamp">Modificato
                                <small>{{ entry.published|parse_date:"%Y-%m-%dT%H:%M:%S.%f%z"|date:"l j F Y" }}</small></span>
                            <span class="post-comment-link">
                                <a class="comment-link" href="{{ entry.link }}">Aggiungi commento</a><br />
                            </span>
                        </div>
                        <div>
                            <hr align="center" width="80%">
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
{% block tree %}
<div class="TreeView">
    <div class="ImageContainer"><img alt="Cronologia" src="{% static 'images/cronologia.png' %}" /></div>
    {{ HTMLTree|safe }}
</div>
<div class="QRCode">Scannerizza per avere l'indirizzo del sito<img alt="QR code url sito Il viale della Formica" src="{% static "images/QRViale.png" %}" />
</div>
{% endblock %}