{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load date_filter %}
{% block head %}
<script type="text/javascript" src="{% static 'js/RSStree.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/TreeView.css' %}">

{% endblock %}
{% block body %}
    <div id="three-column-container">
        <div id="three-column-left">
            <font size="2" color="red">Ricordati di iscriverti alla nostra newsletter, se vuoi essere aggiornato sulle nostre attività! E' semplice e gratuito. Basta inserire i dati qui a fianco!!!   </font>
            <br />
            {% if feed %}
                {% if feed.entries %}
                    <div id=
                    "ctl00_ContentPlaceHolder1_Div1">
                    {% if post_id is None or post_id.strip == '' %}
                        {% for entry in feed.entries|slice:":5" %}
                            <div class="post uncustomized-post-template" >
                                <h3 class="post-title"><a href="{{ request.build_absolute_uri }}?post_id={{ entry.id }}">{{ entry.title }}</a>  
                                    <div class="bookmarks"><a title="Condividi su facebook" class="facebook" href="http://www.facebook.com/sharer/sharer.php?url=&amp;u={{ base_url|default_if_none:entry.link }}?post_id={{ entry.id }}&amp;s=100&amp;p[url]={{ base_url|default_if_none:entry.link }}?post_id={{ entry.id }}&amp;p[title]={{ entry.title }}&amp;p[summary]={{ entry.content.0.value }}"></a>
                                    </div>
                                </h3>
                            </div>
                            <div class="post-header-line-1"></div><div class="post-body">
                                {{ entry.content.0.value|safe }}</div>
                            <div class="post-footer">
                                <span class="post-timestamp">Modificato <small>{{ entry.published|parse_date:"%Y-%m-%dT%H:%M:%S.%f%z"|date:"l j F Y" }}</small></span>
                                <span class="post-comment-link">
                                    <a class="comment-link" href="{{ entry.link }}">Aggiungi commento</a><br/>
                                </span>
                            </div>
                            <div>
                                <hr align="center" width="80%">
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for entry in feed.entries %}
                            {% if post_id == entry.id %}
                                <div class="post uncustomized-post-template" >
                                    <h3 class="post-title"><a href="{{ request.build_absolute_uri }}?post_id={{ entry.id }}">{{ entry.title }}</a>  
                                        <div class="bookmarks"><a title="Condividi su facebook" class="facebook" href="http://www.facebook.com/sharer/sharer.php?url=&amp;u={{ base_url|default_if_none:entry.link }}?post_id={{ entry.id }}&amp;s=100&amp;p[url]={{ base_url|default_if_none:entry.link }}?post_id={{ entry.id }}&amp;p[title]={{ entry.title }}&amp;p[summary]={{ entry.content.0.value }}"></a>
                                        </div>
                                    </h3>
                                </div>
                                <div class="post-header-line-1"></div><div class="post-body">
                                    {{ entry.content.0.value|safe }}</div>
                                <div class="post-footer">
                                    <span class="post-timestamp">Modificato <small>{{ entry.published|parse_date:"%Y-%m-%dT%H:%M:%S.%f%z"|date:"l j F Y" }}</small></span>
                                    <span class="post-comment-link">
                                        <a class="comment-link" href="{{ entry.link }}">Aggiungi commento</a><br/>
                                    </span>
                                </div>
                                <div>
                                    <hr align="center" width="80%">
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div id="three-column-right">
            <div class="newsletterBox"><h1>Newsletter</h1>
                Vuoi essere informato sulle attività dell'associazione?

                <form enctype="multipart/form-data" method="post" action="/newsletter/newsletter-del-viale-della-formica/subscribe/">
                    {% csrf_token %}

                    <label for="id_email_field">Inserisci il tuo indirizzo di email<br /></label> <input type="email" size="38" maxlength="254" name="email_field" required="" id="id_email_field">
                    <br/>Inserisci il nome e/o la tua località (facoltativo) <br/><input type="text" name="name_field" size="38" maxlength="30" id="id_name_field">
                    <br/>Ti invieremo una email, gratuitamente, ogni volta che ci sono novità sul sito.<br/>
                    Clickando sul bottone dai il consenso per il trattamento dei tuoi dati.<br/>
                    <br/><i>I dati personali da lei forniti, verranno utilizzati nei limiti e per il perseguimento delle finalità relative al presente modulo, nel rispetto dei principi stabiliti dal Codice della Privacy (D.Lgs. 196/2003).
                    <br/>Per esercitare i diritti a lei riconosciuti dall’articolo 7 del Codice della privacy suddetto, potrà rivolgersi al Titolare del trattamento scrivendo a ilvialedellaformica@gmail.com</i>
                    <button id="id_submit" name="submit" value="{% trans "Activate" %}" type="submit">Attiva</button>
                </form>
            </div>
            <span style="font-size:1.7em">Cronologia</span>
                    <div class="TreeView">
                    {{ HTMLTree|safe }}
                    </div>
            </span>
                  
            <div id="QRCode">Scannerizza per avere l'indirizzo del sito<img src="{% static "images/QRViale.png" %}" />
            </div>
        </div>                
    </div>
{% endblock %}