{% extends "base.html" %}
{% load static %}

{% block body_static %}
                    
    <div>
        <h3>
            CASTELASC</h3>
        <p>
            Resti di una piccola rocca di proprietà dei Quadrio che sorgeva su una piccola altura
            in una zona a Sud del paese che ne prende tutt'ora il nome. Osservando attentamente
            l'altura su cui su cui sorgeva il fortilizio, sul pendio che guarda a nord verso
            la contrada Fancoli, sono ancora visibili i muraglioni che cingevano il castello
            e che non possono confondersi con i muri posti a sostegno dei vigneti.</p>
        <h3>
            <a href="https://it.wikipedia.org/wiki/Torre_di_Roncisvalle">TORRE DI CASTIONETTO (Torre di Roncisvalle)</a></h3>
        <p>
            Luogo: Castionetto - strada comunale di Val Fontana Cronologia: fra i secoli XII
            e XIII Interventi successivi: secondo la tradizione sarebbe stata ristrutturata
            al tempo di Stefano Quadrio. Pianta della costruzione: quadrata 11x11x15 Copertura:
            mancante in origine mura merlate Volte: a botte al piano terra e al primo piano
            Tecniche murarie: pietra e calce Pavimenti: in pietra e terra Descrizione: è una
            poderosa costruzione a base perfettamente quadrata con muri larghi due metri. Tutta
            la parte muraria è costituita da grosse pietre; quelle degli angoli sono d'enormi
            dimensioni e sono lavorate tanto che presentano alternativamente su d'un lato o
            sull'altro delle rustiche protuberanze. Di maggior interesse architettonico sono
            le due aperture sulla facciata rivolta verso sud; sono costituite da grossi massi
            perfettamente lavorati a piè d'opera. L'apertura al primo piano costituiva la vera
            e propria entrata alla quale si accedeva mediante scala retrattile o addirittura
            con un rudimentale ponte levatoio. Attualmente al piano terra si vede un varco che
            immette nel piano basso (in parte interrato), ma in origine doveva esserci solo
            una semplice finestrella; l'accesso al vano era assicurato da una botola con scala
            (ora scomparsa) che scendeva al primo piano. Incorporato nel muro, primo piano e
            a fianco dell'entrata, sulla destra, un piccolo vano con feritoia d'avvistamento.
            Sulla sinistra invece, sempre contenuta nello spessore del muro, sale una scala
            con volta a botte, che porta al secondo piano. Alla sommità non si notano ora delle
            coperture; gli stessi muri in certi punti sono leggermente sbrecciati. Un'ampia
            breccia si nota sull'angolo sud-est, a livello del terreno; questa rottura, come
            pure il varco al centro della facciata, sono state praticate in epoca recente, forse
            all'inizio di questo secolo, al fine di recuperare sassi che dovevano servire per
            la costruzione di case nella contrada sottostante. Nel 1487 la torre, difesa da
            Zenone Groppello, fu un valido baluardo contro la tentata invasione dei Grigioni.
            Strutture sotterranee: un vano seminterrato con volta a botte. Stato di conservazione:
            salvo le sbrecciate riportate, è in buono stato. Contesto urbano: poco oltre l'ultima
            contrada di Castionetto, Ca' Maffina, sopra una piccola altura.<br/>
            A <a href="https://it.wikipedia.org/wiki/Torre_di_Roncisvalle">questo link</a> la descrizione aggiornata.
        </p>
        <h3>
            CHIESA PARROCCHIALE DI S. BARTOLOMEO
        </h3>
        <p>
            <h4>
                Luogo:</h4>
            Castionetto Via S. Bartolomeo
            <h4>
                Catasto:</h4>
            f. 33 (A)
            <h4>
                Cronologia:</h4>
            fra i secoli XII e XIII
            <h4>
                Interventi successivi e descrizione:</h4>
            diversi nel corso dei secoli; ricordiamo il prolungamento eseguito nel secolo scorso;
            rifacimento del tetto nel 1977; notevoli interventi nel 1979 con rifacimenti dell'intonacatura,
            sostituzione dei banchi vecchi, rimozione d'armadi al fondo della navata.
            <h4>
                Destinazione attuale:</h4>
            chiesa parrocchiale.
            <h4>
                Originaria:</h4>
            chiesa monastica
            <h4>
                Proprietà attuale:</h4>
            Parrocchia di S. Bartolomeo.
            <h4>
                Precedenti:</h4>
            Ordini religiosi
            <h4>
                Pianta della costruzione:</h4>
            rettangolare con sacrestia e altre parti debordanti
            <h4>
                Misure:</h4>
            lung. 31 m – largh. 10 m – alt. 12 m c.a.
            <h4>
                Copertura:</h4>
            tetti a spiovente in tegole d'ardesia.
            <h4>
                Volte:</h4>
            a botte nell'unica navata, a vela nella sacrestia Tecniche murarie: pietra, calce
            e marmo
            <h4>
                Pavimenti:</h4>
            in pietra verde originale, salvo l'ultima parte aggiunta
            <h4>
                Descrizione:</h4>
            la chiesa è in bellissima posizione panoramica. Ha la facciata con timpano "a vento";
            quattro lesene con interessanti capitelli sono interrotte a metà con un cornicione
            che si appaia con quello superiore che fa da base al timpano. Nella parte alta altre
            due nicchie vuote e in mezzo un bel rosone a raggiera di marmo bianco; altre due
            nicchie vuote nella parte inferiore; portale barocco con timpano spezzato e un medaglione
            in stucco. L'elemento architettonico più interessante è la torre campanaria in stile
            romanico primitivo, a cuspide piramidale con monofore e bifore. All'esterno della
            chiesa sui muri laterali sporgono dei corpi di fabbricato in corrispondenza degli
            altari della Madonna e del Crocefisso; inoltre a sinistra, si notano altre parti
            sporgenti una di quelle era ubicato l'ossario chiuso da un'artistica ferrata di
            ferro battuto: ora il vano è sistemato a cappella, ricordo dei caduti; ai piedi
            del campanile altre sporgenze in corrispondenza della sacrestia e di un piccolo
            locale attiguo. L'interno e costituito da un'unica navata con volta a botte e cornicione
            alla base, con pilastri marmorizzati. L'arco trionfale è decorato con leggeri stucchi;
            al centro una scritta latina: " TAURI MEI ET ALTILIA PARATA SUNT: VENITE AD NUPTIAS
            ". Il presbiterio è limitato da una bella balaustra in marmi policromi; sul soffitto
            a volta campeggia un affresco con i simboli della Trinità; decorazioni a stucco
            raffiguranti angeli che sorreggono cartigli e fregi. Non vi è coro; dietro l'altare
            maggiore una gran tela, donata nel 1670 da Matteo Quadrio di Chiuro, raffigurante
            il martirio di S. Bartolomeo; ai lati tele più piccole con le immagini di S: Gregorio
            e S. Carlo. L'altare laterale a destra è dedicato alla Madonna; è impreziosito da
            un bel complesso architettonico di marmi policromi; al centro una nicchia con la
            statua della Vergine contornata da quindici tondi con i misteri del S: Rosario.
            L'altare di fronte è dedicato al Crocefisso; presenta statue di legno della Madonna
            e di Cristo sulla Croce , contenute in una nicchia limitata da colonne tortili in
            marmo nero. Davanti una bella balaustra di marmo come quella dell'altare della Madonna.
            In un vano sulla parete sinistra è posta l'urna in vetro e legno del Cristo Morto,
            opera dell'artigiano-artista chiurese Bartolomeo Balgera. Dello stesso autore una
            bella vetrata policroma, legata in piombo, posta sopra l'organo in corrispondenza
            del bel rosone che si ammira sulla facciata; al centro è raffigurato, in mosaico,
            S. Bartolomeo patrono. L'organo che risale al 1839 è sistemato sopra l'ingresso
            principale; la cantoria è costituita da una cassa lignea con un'unica a motivi musicali,
            al centro. Due elementi architettonici della chiesa, di notevole pregio, sono le
            acquasantiere: una, in pietra verde, è incassata nel muro alla porta principale;
            l'altra più piccola ma di uguale fattura è sistemata alla porta laterale (la porta
            degli uomini). Il sotterraneo è diviso in quattro cunicoli distinti; vi si acceda
            con botole separate. Secondo la tradizione, nella parte destra ben allineati vi
            sarebbero tre loculi: quello dei frati, quello delle ossa ammucchiate e quello delle
            donne. Sulla parte sinistra il cunicolo destinato alla sepoltura dei bambini. La
            chiesa è ricca di arredi sacri di notevole valore; tra questi lo stendardo della
            Confraternita del SS. Sacramento in velluto e seta, ricamato con pregevoli decorazioni
            in oro. La parte centrale dipinta, opera di Francesco Piatti (1676), raffigura la
            Madonna, S. Domenico, S. Caterina e un angioletto; sull'altro lato il Santissimo
            Sacramento adorato da S. Gaetano. Sfarzose le cornici in oro. Strutture sotterranee:
            quattro loculi per antiche sepolture Stato di conservazione: buono Contesto urbano:
            alla periferia sud di Castionetto, tra vigneti e frutteti.
        </p>
        <h3>
            CHIESA DI SAN GREGORIO</h3>
        <p>
            Luogo: Castionetto via Grande Catasto: f 25 (A) Cronologia: fra i secoli XV e XVI
            Interventi successivi e descrizione: negli ultimi decenni ha subito notevoli restauri:
            nel 1961-62 ampliamento nella parte posteriore; nel 1985-86 altro intervento con
            recupero del primitivo aspetto dei muri: sassi a vista opportunamente cementati.Nel
            1980 è stata sostituita la campana. Infine nel 1989 è stato sostituito l'altare
            in cemento con uno in serpertino ed è stato reintrodotto l'antico ciborio dietro
            la tavola eucaristica Destinazione attuale e originaria: chiesa Proprietà attuale
            e precedente: Parrocchia di Castionetto Pianta della costruzione: a croce commissa
            (a TAU) Misure: lungh. 17,5 m largh. 7,5 m (facciata) 10,5 m (zona abside) Copertura:
            tetto a due spioventi in tegole d'ardesia Volte: volta a botte nella navata centrale
            Tecniche murarie: muratura in pietra calce e cemento Decorazioni: portalino d'ingresso
            in pietra lavorata. Sulla parete nord del presbiterio è posta una tela raffigurante
            la Madonna con Santa Teresa e San Gaetano, proveniente da una chiesetta dedicata
            alla stessa S. Teresa che era incorporata nell'edificio di Ca' Peranda.(*). Particolari:
            pregevole un ciborio in stile barocco a forma di tempietto terminante con una cupola
            a cipolla; è in legno d'abete intagliato dipinto e dorato; nelle nicchie quatto
            statuette di santi; al centro, sulla porticina del tabernacolo, un calice e un'ostia
            sospesi su una nube Strutture sotterranee: nessuna Stato di conservazione: buono
            Note: la chiesa di S. Gregorio è certamente molto antica; è ricordata dal Niguarda
            nella sua visita in Valtellina del 1589 ed esistono fonti documentarie del primo
            Cinquecento. La campanella rimossa nel 1980 è ora sistemata nella chiesa del Dalico,
            porta la data del 1510. (*) vedi STORIA
        </p>
        <h3>
            CHIESA DI S.GAETANO</h3>
        <p>
            Luogo: Dalico, zona montana di villeggiatura e alpeggio. 1550 s/m Catasto: f. 13
            (A) Cronologia: 1870 (anno di costruzione) Interventi successivi e descrizione:
            nel 1975 (come riportato in una scritta sulla facciata) è stata interamente rinzaffata
            esternamente e intonacata a nuovo all'interno. Nel 1995 è stato rifatto il tetto.
            Destinazione attuale e originaria: chiesa Proprietà attuale e precedente: Parrocchia
            di Castionetto Pianta della costruzione: rettangolare Misure: lungh. 7,35 m largh.
            4,65 m alt. 4,50 m Copertura: tetto a due spioventi in lastroni di pietra Volte:
            volta a botte nell'unica navata Tecniche murarie: muratura in pietra calce e cemento
            Pavimenti: rifatto in calcestruzzo nel 1975 Particolari: torretta con campana sopra
            lo spiovente di destra; la campana porta incisioni e scritte in lingua tedesca;
            una data 1510 (proviene dalla chiesa di s. Gregorio). Nella facciata a capanna due
            finestrelle a lato del portalino ad arco. Sul portalino in alto un loculo e sopra
            le date della costruzione e del restauro. La scritta S. Gaetano sopra l'arco del
            portalino. Altre scritte di carattere sacro all'interno, sopra la nicchia dell'altare,
            dove è custodita una statua di S. Gaetano. Strutture sotterranee: nessuna Stato
            di conservazione: buono Note: fino agli anni '60 la chiesa era raggiunta, la prima
            domenica di giugno, dai fedeli che salivano in processione dal paese. Nell'occasione
            il parroco portava sulla chiesetta alpestre una reliquia di S. Gaetano. La processione
            si ripeteva in una domenica della seconda metà di settembre; la reliquia veniva
            riportata nella chiesa di S. Bartolomeo in paese.
        </p>
    </div>


{% endblock %}