{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body_static %}
               
    
    <div>
        <strong>Domande frequenti </strong>(<span style="text-decoration: underline">F</span>requently
        <span style="text-decoration: underline">A</span>sked <span style="text-decoration: underline">
            Q</span>uestions)<br />
        <br />
        In questa pagina trovate le domande più frequenti che riguardano la nostra associazione
        e il nostro sito.<br />
        <br />
        <br />
        <strong>D:</strong> Di cosa vi occupate?</div>
    <div>
        <strong>R:</strong> Come sancito nel nostro <a href="/info/statuto">statuto</a>
        ci occupiamo di attività&nbsp;per lo studio, la ricerca e le iniziative miranti
        alla formazione culturale e morale della comunità.<span>&nbsp; </span>In special
        modo l&#39;Associazione si propone di perseguire, con particolare attenzione alle
        esigenze locali, le seguenti finalità:</div>
    <div>
        <p style="margin-left: 22.5pt; text-indent: -22.5pt; line-height: 150%; text-align: justify">
            <span lang="IT">a)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            </span><span lang="IT">promuovere e favorire lo svolgimento e la realizzazione di attività
                e manifestazioni culturali, sociali, umanitarie, sportive nonché di spettacoli pubblici,
                gite, convegni, escursioni e ogni altra iniziativa di interesse turistico, al fine
                di contribuire all&#39;elevamento culturale e morale;</span>
        </p>
        <p style="margin-left: 22.5pt; text-indent: -22.5pt; line-height: 150%; text-align: justify">
            <span lang="IT">b)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            </span><span lang="IT">promuovere la conoscenza della storia, delle tradizioni e dei
                costumi locali;</span>
        </p>
        <p style="margin-left: 22.5pt; text-indent: -22.5pt; line-height: 150%; text-align: justify">
            <span lang="IT">c)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            </span><span lang="IT">tutelare e valorizzare con attività di informazione e di propaganda,
                tutte le bellezze naturali, artistiche e monumentali del luogo, per farle meglio
                conoscere ed apprezzare.</span>
        </p>
    </div>
    <div>
        <strong>D:</strong> Dove opera la vostra associazione?</div>
    <div>
        <strong>R:</strong> La nostra associazione ha <a href="http://maps.live.com/?v=2&amp;cp=46.175291~10.00627&amp;style=h&amp;lvl=16&amp;dir=0&amp;tilt=-90&amp;alt=-1000&amp;sp=Point.rpw8t8hv0g36_Auditorium%20parrocchiale___&amp;encType=1">
            sede</a> in vicolo S.Gregorio, 10 a Castionetto di Chiuro provincia di Sondrio.
        Le attività sono svolte prevalentemente nel nostro comune.</div>
    <div>
        &nbsp;</div>
    <div>
        <strong>D:</strong> Ho visto negli anni passati che avevate la forma societaria
        di ONLUS. Come mai non lo siete ancora?</div>
    <div>
        <strong>R:</strong> La nostra associazione è nata nel 1998 quando la normativa prevedeva
        che le associazioni culturali potevano assumere tale denominazione. Avevamo quindi
        fatto tutte le pratiche, compresa l'iscrizione al registro ONLUS. Nel 2006 a fronte
        di un cambio di interpretazione da parte degli organi preposti al controllo, abbiamo
        cambiato la denominazione in "associazione culturale". A fine 2020 abbiamo assunto
        la forma di associazione di promozione sociale in breve APS.</div>
    <div>
        &nbsp;</div>
    <div>
        <strong>D:</strong> Che significato ha il nome della vostra associazione?</div>
    <div>
        <strong>R:</strong> il "viale della formica" è un sentiero che dal Dalico parte
        verso Prato Valentino. L'idea è venuta in quanto il sentiero è per la maggior parte
        sul territorio di Castionetto, ma arriva a Teglio. Questo è un po' lo scopo dell'associazione,
        avere delle forti radici sul nostro territorio, ma con l'intenzione di guardare
        all'esterno.</div>
    <div>
        &nbsp;</div>
    <div>
        <strong>D:</strong> Posso partecipare alle vostre attività?</div>
    <div>
        <strong>R:</strong> Certamente! Mandaci una email all&#39;indirizzo <a href="mailto:info@VialeFormica.org">
            info@VialeFormica.org</a>. Solitamente ci ritrovavamo la prima domenica del
        mese alle 21 presso la nostra sede. Dal 2018 le riunioni sono diventate meno cadenzate
        e ci si trova quando c'è necessità.</div>
    <div>
        &nbsp;</div>
    <div>
        <strong>D:</strong> Ho visto che dallo statuto non possono iscriversi i minorenni.
        Come mai?</div>
    <div>
        <strong>R:</strong> Lo statuto è stato studiato per evitare principalmente problemi
        con la parte finanziaria. Nella sua stesura ci è sfuggito questo particolare. Peraltro
        nell'articolo 7 c'è un'incongruenza in quanto viene detto che solo i soci maggiorenni
        possono votare. Cambiare lo statuto ora sarebbe problematico...Se sei minorenne
        e vuoi partecipare all'associazione parliamone...</div>
    <div>
        &nbsp;</div>
    <div>
        <strong>D:</strong> Come posso sapere quando aggiornate il sito?</div>
    <div>
        <strong>R:</strong> Puoi farlo in due modi. Iscrivendoti alla nostra newsletter
        (vedi domanda seguente) oppure utilizzando un <a href="http://it.wikipedia.org/wiki/Aggregatore">
            aggregatore</a> di news e sottoscrivendo il nostro feed.</div>
    <div>
        &nbsp;</div>
    <div>
        <strong>D:</strong> Ho visto che c&#39;è la possibilità di iscriversi ad una newsletter.
        Cos&#39;è? Come funziona?</div>
    <div>
        <strong>R:</strong> La newsletter ti permette di ricevere una email quando c&#39;è
        qualche informazione che riteniamo interessante. Solitamente inviamo una email tutte
        le volte che pubblichiamo un nuovo contenuto nel sito.</div>
    <div>
        &nbsp;</div>
    <div>
        <strong>D:</strong> Ho visto che le informazioni pubblicate sul vostro sito sono
        presenti sia all&#39;indirizzo <a href="/">{{ request.get_host }}</a>&nbsp;che <a
            href="http://ilvialedellaformica.blogspot.com/">http://ilvialedellaformica.blogspot.com/</a>.
        Come mai?</div>
    <div>
        <strong>R:</strong> Il primo indirizzo corrisponde al nostro sito che contiene tutte
        le informazioni. Il secondo è invece l&#39;indirizzo del nostro <a href="http://it.wikipedia.org/wiki/Blog">
            blog</a>. Il blog viene visualizzato sulla homepage del nostro sito.</div>
    <div>
        &nbsp;</div>
        <div>
    <strong>D:</strong> Nel menu &quot;Varie&quot; del vostro sito ci sono due voci
    incomprensibili. Cosa sono?</div>
    <div>
        <strong>R:</strong> Le due voci servono per verificare che le nostre pagine sono
        valide per due standard internet: <a href="http://it.wikipedia.org/wiki/XHTML">XHTML</a>
        e <a href="http://it.wikipedia.org/wiki/Foglio_di_stile">CSS</a>. Questo permette
        di rendere più accessibile il contenuto del sito.</div>
    <div>
        &nbsp;</div>
    <div>
        <strong>D:</strong> Vorrei commentare alcune cose che avete scritto sul sito. Posso
        farlo?</div>
    <div>
        <strong>R:</strong> Certamente. Potete inviarci una email all'indirizzo info@VialeFormica.org
        oppure utilizzare il link che trovate dopo ogni articolo del sito denominato "Aggiungi
        commento".</div>
    <div>
        &nbsp;</div>
    <div>
        <strong>D:</strong> Ho notato che avete cambiato il sito ultimamente. Cosa è successo?</div>
    <div>
        <strong>R:</strong> Nel 2020 abbiamo avuto parecchio tempo, purtroppo non per le
        attività sociali. E' stata l'occasione per rivedere il sito e spostarlo dal server
        della provincia di Sondrio a quello di Amazon Web Services (AWS). L'indirizzo è
        quindi cambiato da http://associazioni.provincia.so.it/IlViale a http://VialeFormica.org.<br />
        Avendo un 'dominio' nostro, anche l'indirizzo è cambiato da ilvialedellaformica@gmail.com
        a info@VialeFormica.org. Trovi maggiori informazioni nell'<a href="http://vialeformica.org/BlogView/?post_id=tag:blogger.com,1999:blog-6944938457600415276.post-831839440297623235">articolo</a> che abbiamo scritto ad inizio 2020.</div>
    <div>
        &nbsp;</div>
        
    <br />
    <br />
{% endblock %}