{% extends "base.html" %}
{% load static %}

{% block body %}
               
    <div>
        <p>
            In questa pagina potrete trovare varie informazioni riguardanti la nostra associazione.
        </p>
        <p>
            L'indirizzo di email è ilvialedellaformica@gmail.com a cui potete fare riferimento per informazioni,
            critiche o proposte.</p>
        <p>
            Il viale della Formica è un'associazione nata nel 1998 per promouvere e valorizzare
            la vita culturale e sociale di Castionetto e ha sede in vicolo S.Gregorio, 10.</p>
        <p>Il logo dell'associazione prende spunto da una stele ritrovata a Castionetto raffigurante una ruota a 8 raggi.</p>
                <img alt="Immagine logo originael" src="{% static 'images/ImmagineLogo.jpg' %}" width="191" height="133" />

    </div>
    <br />
    <br />

{% endblock %}