{% extends "base.html" %}
{% load static %}

{% block body_static %}

La stupenda posizione sul poggio solatio fu ben nota ed apprezzata nel passato; 
        <br />
        <br />
        In età preistorica la zona fu certamente abitata, come confermano le due stele trovate nel 1959 e un ordine religioso scelse questo luogo per insediarvisi con chiesa e monastero.
    <br />
        <br />
Il nome Castione, detto dapprima Castiglione di Sopra per distinguerlo dall' altro Castione presso Sondrio e poi più semplicemente Castionetto, testimonia che qui esistette un castellius, cioè un piccolo castello. 
    <br />
    
    Infatti, anticamente nella località ancor oggi chiamata "Castelasc" esisteva una piccola rocca dei Quadrio (famiglia nobile del comune) posta in posizione favorevole per controllare il territorio circostante.
Più in alto esiste ancora, ben solida, la poderosa torre che appartenne ai Quadrio.<br />
    <br />
        Eretta presumibilmente tra la fine del sec. XII e l'inizio del XIII fu poi ristrutturata da Stefano Quadrio. "L'origine feudale di molti castelli è dimostrata, oltre che dagli atti d'archivio anche da nome di gusto letterario"[cfr. G. C. Bescapè, C. Perogalli, Torri e castelli di Valtellina e Valchiavenna, Sondrio, 1966 pag. 17]. 
        <br />
        Quella di Castionetto è detta di Roncisvalle.
        <br />
        <br />
Il paese si divide in contrade che distano tra loro parecchie centinaia di metri, poste in una zona fertile ricca di vigneti e frutteti. 
        <br />
        Le costruzioni di questi agglomerati fino a pochi anni fa erano tutte modeste e di stile architettonico prettamente rurale. Ora molte sono state ristrutturate e sono sorte nuove villette un pò ovunque. 
        <br />
        Qua e là rimangono ancora i segni di qualche abitazione di maggior prestigio, per lo più case di campagna di famiglie patrizie di Ponte e Chiuro, che ricordano nel nome gli antichi proprietari: ca' di Fopui, ca' Peranda, ca' Menat e il noto Casin già proprietà Guicciardi.
        <br />
        <br />
Un luogo che ha sempre richiamato l'attenzione degli studiosi di storia e arte è il complesso della chiesa di S. Bartolomeo e degli edifici adiacenti, posti in un'ottima posizione tra il verde dei frutteti e degli ubertosi vigneti che degradano fino al piano delle Signorie.
        <br />
        <br />
Lo storico F.S. Quadrio afferma che già dal '200 esisteva in Castionetto un convento degli umiliati, un'associazione di laici, spesso in contrapposizione con l'ortodossia della Chiesa, che si dedicò al lavoro collettivo, alla penitenza, alla preghiera ed ad opere sociali. 
        <br />
        <br />
        Egli si basa su un documento oggi introvabile, del 4 ottobre 1210, rogato dal notaio Giovanni Agnani, in cui si tratta di una vendita fatta dagli agenti del monastero ad un certo Giovanni Spilimbergo di Ponte. 
        <br />
        <br />
        L'inventario dei beni lascia intendere che il monastero di Castionetto era da tempo in stato di degrado, ma fa anche chiaramente capire quale fosse stata l'attività dei monaci in passato: la coltivazione della vite.<br />
    <br />
Furono i monaci cluniacensi ad iniziare gli abitanti del luogo a questa pratica destinata ad assumere un valore incalcolabile per il futuro del nostro centro? L'interrogativo anche in questo caso è d'obbligo. 
    <br />
    <br />

{% endblock %}