{% load static %}
{% comment %} {% load i18n %} {% endcomment %}
{% load context_base_url_template %}

{% block body %}

Ciao {{ subscription.name }},<br/>
tu, o qualcuno a tuo nome, ha richiesto l'iscrizione alla newsletter de {{ newsletter.title }}.
<br/><br/>
Per confermare la tua iscrizione clicka sul link seguente:<br/>
<a href="{% baseurl %}{{ subscription.subscribe_activate_url }}">link</a>
oppure copia nel browser il seguente url:
{% baseurl %}{{ subscription.subscribe_activate_url }}
<br/><br/>
{{ newsletter.sender }}<br/>
In caso di problemi puoi contattarci all'indirizzo info@vialeformica.org
{% endblock body %}
