/* Selectors for menu inside the banner */


.MainMenu .AspNet-Menu-Horizontal ul ul
{
	background: #FFFFFF;
	
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu
{
	width: 100%;
	height: 25px;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul
{
	left: 2px;
	top: 100%;
	width: 7em;
	padding: 5px;
	border: 2px #124500 solid;
    color: black;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul
{
    left: 6.8em;
    top: -1em;
    width: 9em;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li
{
    width: 7em;
    padding: 2px 0 2px 0;
}


.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul li
{
    width:9em;
}

/* Start: rules to make the horizontal menu's top tier use proportional width for its items. */

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li span
{
    display: block;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li a
{
    display: block;
}
.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li a
{
	color: #FFFFFF;
}

/* End: proportional rules */

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li span
{
	border-style: none;
	text-align: center;
	padding: 0 5px;
}


.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li a
{
	border-style: none;
	text-align: center;
	padding: 0 5px;
}


.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li span
{
	background: #DDDDDD url(arrowRight.gif) no-repeat right
center;
	color: black;
}


.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li a
{
	background: #DDDDDD url(arrowRight.gif) no-repeat right
center;
	color: black;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li.Asp-Menu-Hover span
{
	color: black;
	background: #FFFFFF url(activeArrowRight.gif) no-repeat right center;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li a:hover
{
	color: black;
	background: #FFFFFF url(activeArrowRight.gif) no-repeat right center;
	
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li.Asp-Menu-Leaf span
{
    background-image: none !important;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li.AspNet-Menu-Leaf a
{
    background-image: none !important;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li li span
{
    text-align: left;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li li a
{
    text-align: left;
}

.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li.AspNet-Menu-Hover
{
	background: #FFFFFF;
	color: black;
}




.MainMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li:hover
{
	background: #828AD0;
	color: white;
}




/* --------------------------------------------------------------------------------------------------- */
/* Used when the Menu adapter is NOT used. */
/* These styles are used by the Menu's skin, found in this theme's skin file. */

.Menu-Skin-DynamicHover
{
    background: #165EA9 url(bg-menu-main.png) repeat-x;
}
.bookmarks
{
    display: inline-block;
    margin-left: 10px
}
.facebook, .twitter
{
	width: 16px;
	height: 16px;
	text-indent: -500px;
	overflow: hidden;
	display: inline-block;
	background-image: url("images/social.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}
.twitter
{
	background-position-x: 0px;
	background-position-y: -20px;
}
